<%- include('includes/header.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <!-- <h3>Hello:
            <%= articles %>
        </h3> -->
        <br>
        <h3>Welcome to our Blog Engine</h3><br>
        <% for (let article of articles.reverse()) { %>
        <div>
            <a href="/article/<%= article._id %>" class="list-group-item clearfix">
                <div class="float-left">

                    <h4 class="list-group-item-heading">
                        <%= article.title %>
                    </h4>

                    <p class="list-group-item-text">Written By:
                        <%= article.author %>
                    </p>
                    <p class="list-group-item-text" style="white-space: nowrap; 
                    width: 850px; 
                    overflow: hidden;
                    text-overflow: ellipsis; ">
                        <%= article.body %>
                    </p>
                </div>
                <div class="float-right">
                    <img src="<%= article.articleImage %>" alt="" class="img-responsive" width="150px" height="110px">
                </div>
            </a>

        </div>
        <% } %>
    </div>
</body>

</html>