<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <!-- <h3>Hello: <%= articles %></h3> -->
        <br>
        <h3>Welcome to our Blog Engine</h3><br>
        <% for (let article of articles) { %>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h5><%= article.title %></h5>
                    <hr>
                    <%= article.author %>
                    <hr>
                    <%= article.body %>
                    <hr><img src="<%= article.articleImage %>" alt="" class="img-responsive" width="100%">
                </li>
            </ul>

        </div>
        <% } %>
    </div>
</body>

</html>