<%- include('includes/header.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <br>
        <li class="list-group-item">
            <h4>
                <%= article.title %>
            </h4>
            <hr>
            Written By:
            <%= article.author %>
            <hr><img src="/<%= article.articleImage %>" alt="" class="img-responsive" width="100%">
            <hr>
            <%= article.body %>
        </li>
    <br>
        <a class="btn btn-default" href="/article/edit/<%= article._id %>">Edit</a>
        <a class="btn btn-danger delete-article" data-id="<%= article._id %>" href="#">Delete Post</a>
    </div>
</body>

</html>